<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index/style.css">
    <title>Avengers Mission</title>
</head>
<body>

    <section id="wrapper-loader">
        <div id="load" class="loader">
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
        </div>
        <h1 id="conect" >Conecting...</h1>
    </section>

    <section id="wrapper-login-card" class="toggle">
        <h1>Cerebro Machine</h1>
        <section class="login-card">
            <div class="profile">
                <img src="/static/img/anon.png" alt="">
            </div>
            <h2>Jams Fury</h2>
            <a href="/heros"><button type="button">Login</button></a> 
        </section>
    </section>

    <script src="/static/js/loading.js"></script>
</body>
</html>